.container {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 1200px;
  height: 44px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  padding: 60px 30px;
  z-index: 3;
  align-items: center;
}

.navLinkContainer {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 15px;
  align-items: center;
}

.navLink {
  display: flex;
  background: none;
  border: none;
  border-radius: 22px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  background-blend-mode: overlay;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  color: rgba(255, 255, 255, 0.7);
}

.navLink:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(31, 47, 71, 0.25) 0px 20px 40px, rgba(0, 0, 0, 0.1) 0px 1px 5px, rgba(255, 255, 255, 0.4) 0px 0px 0px 0.5px inset;
  color: white;
}

.navLink > a {
 text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
.navLink:hover > a {
  color: white;
}

.login {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  background: none;
  cursor: pointer;
}

.loginLink {
  color: rgba(255, 255, 255, 0.7);
}

.loginLink:hover {
  color: white;
}